<h1>Editar desconto</h1>
<h6>Loja: Super João - Nova loja online</h6>

<%= render "form", discount: @discount %>

<br>

<div>
  <%= link_to "Show this discount", @discount %> |
  <%= link_to "Back to discounts", discounts_path %>
</div>