@import "bootstrap";

* {
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #F5F5F5;
}

h1 {
  color: #37474F;
}

h2 {
  color: #455A64;
  font-size: 20px;
}

h6 {
  color: #455A64;
}

.table-main th {
  background-color: #F1F4F5;
  color: #455A64;
  padding: 15px;
  text-align: center;
}

.table-main td {
  vertical-align: middle;
  text-align: center;
}

#sidebar {
  background-color: #007fba;
  color: #fff;
  padding: 1rem;
  min-height: 100vh;
}

#sidebar h2 {
  color: #fff;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar ul li {
  margin: 10px 0;
}

#sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

#main-content {
  padding: 1rem;
}

.menu-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
}

.menu-icon-left {
  margin-right: 0.5rem;
}

.menu-icon-right {
  margin-left: auto;
}

#discounts, #products {
  background-color: #fff;
  border: 1px solid #CFD8DC;
  margin-top: 20px;
}

.form-register {
  background-color: #fff;
  border-bottom: 1px solid #CFD8DC;
  padding: 10px;
  margin-top: 20px;
}

.image-upload-field {
  border: 3px solid #CFD8DC !important;
  border-style: dotted !important;
}

.image-upload-icon {
  color: #455A64 !important;
}

.discounts-top, .products-top {
  padding: 10px;
  border-bottom: 1px solid #CFD8DC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discounts-search {
  padding: 10px;
}

.discount-not-found, .product-not-found  {
  text-align: center;
  font-weight: bold;
  color: #455A64;
  font-size: 18px;
}

.custom-btn {
  background-color: #007FBA;
  color: #fff;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  border-radius: 0.25rem;
  border: 1px solid transparent;
}

.custom-btn:hover, .custom-btn:active {
  background-color: darken(#007FBA, 10%) !important;
  color: #fff !important;
  text-decoration: none !important;
  border: 1px solid transparent !important;
}

.icon-class {
  font-size: 20px;
  color: green;
}

.icon-class {
  cursor: pointer;
  margin: 0 0.25rem;
}

.icon-class.edit-icon {
  color: #0d6efd;
}

.icon-class.delete-icon {
  color: #dc3545;
}

.icon-class.edit-icon:hover {
  color: #0b5ed7;
}

.icon-class.delete-icon:hover {
  color: #c82333;
}

.table-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MODAL */
.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 0;
  border-bottom: 2px solid #007FBA;
}

.modal-header .modal-title {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  color: #455A64;
}

.modal-header .btn-close {
  position: absolute;
  right: 10px;
  top: 62%;
  transform: translateY(-50%);
}

.modal-body {
  color: #455A64;
}

.discount-image, .product-image {
  margin-right: 10px !important;
}

.discount-image-modal {
  float: left;
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin-right: 20px;
}

.discount-image-modal img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.discount-details {
  float: right;
  width: calc(100% - 270px);
}

.discount-name {
  font-size: 18px;
}

.discount-description {
  font-size: 14px;
}

.discount-price-from {
  font-size: 18px;
  text-decoration: line-through;
}

.discount-price-to {
  font-size: 24px;
  font-weight: bold;
  color: #455A64;
}

.discount-percentage {
  font-size: 24px;
  font-weight: bold;
  color: #455A64;
}

.discount-price-percentual {
  font-size: 18px;
  text-decoration: line-through;
}

.discount-price-final {
  font-size: 24px;
  font-weight: bold;
  color: #455A64;
}

.discount-quantity {
  font-size: 24px;
  font-weight: bold;
  color: #455A64;
}

.discount-price {
  font-size: 24px;
  font-weight: bold;
  color: #455A64;
}

.modal-footer {
  clear: both;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .discount-image-modal {
    float: none;
    margin: 0 auto;
    width: 100%;
  }

  .discount-details {
    float: none;
    width: 100%;
    text-align: center;
  }
}

/* FIX BUG FORM */
#de_por_fields, #leve_mais_pague_menos_fields, #percentual_fields {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#de_por_fields > div, #leve_mais_pague_menos_fields > div, #percentual_fields > div {
  flex: 1 1 100%;
}

@media (min-width: 768px) {
  #de_por_fields > div, #leve_mais_pague_menos_fields > div, #percentual_fields > div {
    flex: 1;
  }
}

#de_por_fields,
#leve_mais_pague_menos_fields,
#percentual_fields {
  display: none;
}

#de_por_fields.active,
#leve_mais_pague_menos_fields.active,
#percentual_fields.active {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#de_por_fields > div,
#leve_mais_pague_menos_fields > div,
#percentual_fields > div {
  flex: 1;
}

